<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OutOfOffice</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/customStyles.css"/>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <environment include="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </environment>
    @RenderSection("Scripts", required: false)
</head>
<body>
    <partial name="Navbar"/>
    @RenderBody()
</body>
</html>
